@import "tailwindcss";
@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}
/* fonts*/
@font-face {font-family: objectsans;
    src: url(../css/font/object-sans-regular/ObjectSans-Regular.eot)
    , url(../css/font/object-sans-regular/ObjectSans-Regular.ttf)
    , url(../css/font/object-sans-regular/ObjectSans-Regular.woff)
    , url(../css/font/object-sans-regular/ObjectSans-Regular.woff2);
}
@font-face {
    font-family: objectsansbold;
    src: url(../css/font/object-sans-bold/Object\ Sans\ Bold.eot)
    , url(../css/font/object-sans-bold/Object\ Sans\ Bold.ttf)
    , url(../css/font/object-sans-bold/Object\ Sans\ Bold.woff)
    , url(../css/font/object-sans-bold/Object\ Sans\ Bold.woff2);
}
@font-face {
    font-family: notosans;
    src: url(../css/font/notosans/NotoSans-Regular.eot)
    , url(../css/font/notosans/NotoSans-Regular.ttf)
    , url(../css/font/notosans/NotoSans-Regular.woff)
     , url(../css/font/notosans/NotoSans-Regular.woff2);
}
@font-face {
    font-family: notosansbold;
    src: url(../css/font/notosans-bold/NotoSans-Bold.eot)
    , url(../css/font/notosans-bold/NotoSans-Bold.ttf)
    , url(../css/font/notosans-bold/NotoSans-Bold.woff)
     , url(../css/font/notosans-bold/NotoSans-Bold.woff2);
}
body{
   margin: 0;
   padding:0;
   scroll-behavior: smooth;
   cursor: pointer;

}

    /* استایل نقطه‌ها */
  .swiper-pagination-bullet {
   width: 40px;
      height:4px;
      border-radius: 9999px; /* گرد دو سر */
      background: rgba(255, 255, 255, 0.3);
      transition: all 0.3s ease;
      opacity: 1;
      margin: 0 3px !important;
  }
    /* وقتی فعال است */
    .swiper-pagination-bullet-active {
      background: #00bfff;
    }
  /* حذف فلش پیش‌فرض Swiper */
  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: '';
  }
      .fade-overlay {
        background: linear-gradient(to left, rgb(26, 28, 35) 0px, rgba(0, 0, 0, 0) 50%);
      }
      /* تب‌ها (بیرون از swiper) */
      .tabsSwiper-tabs {
        display: flex;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
      }
      .tabsSwiper-tabs .tab-item {
        color: #B9BABC;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        padding-bottom:6px;
      }
      .tabsSwiper-tabs .tab-item.active {
        color: white;
      }
      .tabsSwiper-tabs .tab-item.active::after {
        color: white;
        content:"";
        position:absolute;
        bottom:-2px;
        left: 0;
        width: 100%;
        height:2px;
        background-color: #3b82f6;
        border-radius:2px ;
      }
      /* pagination پایین موبایل */
      .tabsSwiper-pagination .swiper-pagination-bullet {
        background: white !important;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        opacity: 0.4;
      }
      .tabsSwiper-pagination .swiper-pagination-bullet-active {
        background: #2563eb !important;
        opacity: 1;
      }

      /* فلش‌ها فقط کنار متن */
      .tabsSwiper-text {
        position: relative;
      }
      .tabsSwiper-text .tabsSwiper-next,
      .tabsSwiper-text .tabsSwiper-prev {
        color: white;
        position: absolute;
        top: 50%;
        left:93%;
        transform: translateY(-50%);
        z-index: 10;
      }
      .tabsSwiper-text .tabsSwiper-next {
        right: -2rem;
      }
      .tabsSwiper-text .tabsSwiper-prev {
        left: -2rem;
      } 
      .swiper-button-prev , .swiper-button-next{
        display: flex;
        align-items:center;
        justify-content:center;
        background-color:#15171E ;
        color:#696B6F;
        width:30px;
        height:70px;
        border-radius: 4px;
        padding:6px;
        border: 1px solid #696B6F;
    }
     @media (max-width: 768px) {
  /* پنهان‌سازی همه انواع navigation که داخل swiper با پیشوند tabsSwiper هستند */
  .tabsSwiper .tabsSwiper-next,
  .tabsSwiper .tabsSwiper-prev,
  .tabsSwiper .swiper-button-next,
  .tabsSwiper .swiper-button-prev {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    pointer-events: none !important;
  }
}
  @media (max-width:1440px) {
    .exact1440{
      width:1100px;
    }
}
  .transition-all { transition: all 0.3s ease; }
  .dropdown:hover .dropdown-menu {
  display: block;
}
  :root {
      --color-bg: #B9B28A;
      --color-grey: #504B38;
    }

    /* فقط تم dark تغییر می‌کند */
    [data-theme="dark"] {
      --color-bg: #15171e;
  --color-grey: #23252B ;


    }

    /* کلاس‌ها برای استفاده از متغیرها */
    .bg-main { background-color: var(--color-bg); }
     .bg-card { background-color: var(--color-grey); }
 /* دکمه Theme فیکس و مربع */
    #theme-btn {
      width: 30px;
      height:30px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      border-radius: 9999px;
      position: fixed;
      z-index: 1000;
    }